
@media (orientation: portrait){

    /*hamburguer; sidebar*/

    @media (max-width: 920px){

        .hamburguer{
            right: 7%;
        }

        .showsidebar .hamburguer{
            right: 60%;
        }

        .side-bar{
            width: 80%;
            right: -80%;
        }
    }
    
    /*Banner*/

    @media (max-width: 920px){
        .banner .img-wrapper {
            opacity: .5;
            background-image: url(img/banner-site-mobile.png);
        }

    }
    
    @media (max-width: 600px){
        .banner-content{
            width: 70%;
            left: 12%;
        }

        .banner-content .banner-txt h1{
            font-size: 1.6rem;
        }
        
        .banner-content .banner-txt legend{
            font-size: 18px;
        }
        
        .banner-content .banner-txt p{
            font-size: 14px;
        }

        .banner-content .banner-txt button{
            padding: .5rem 1.8rem;

        }

        .banner-content .redes i{
            padding: .6rem;
        }

    }

    /*sobre-mim*/

    @media (max-width: 760px){
        .section-info-me .infos .info{
            width: 80%;
            margin-bottom: 2rem;
            font-size: 12px;
        }

    }

    /*Artes*/

    @media (max-width: 920px) {
        .arte{
            height: 30rem;
            width: 21rem;
        }
    }

    @media (max-width: 600px){
        .arte{
            width: 25rem;
        }

        .arte:hover{
            scale: none;
        }
        
    }

    /*Experiencias e certificados*/

    @media (max-width: 920px) {
        .sessao-certificados .historicos .historico img{
            height: 18rem;
            width: 21rem;
        }
        
        .sessao-certificados .historicos .historico p{
            width: 21rem;
            font-size: 12px;
        }
    }

    /*Estudos*/

    @media (max-width: 920px) {
        .sessao-estudos .estudo{
            width: 50rem;
        }

        .sessao-estudos .estudos .estudo img{
            opacity: 0.32;
        }

        .sessao-estudos .estudos .estudo .estudos-txt{
            opacity: 1;
            bottom: 35%;
            font-size: 1.5rem;
        }
    }
    
    @media (max-width: 600px) {
        .sessao-estudos .estudos .estudo .estudos-txt{
            opacity: 1;
            font-size: 12px;
        }

    }
}

@media (orientation: landscape){

    /*responsivo horizontal*/

    @media (max-width: 920px){

        /*hamburguer; sidebar*/

        .hamburguer{
            right: 7%;
        }

        .showsidebar .hamburguer{
            right: 40%;
        }

        .side-bar{
            width: 50%;
            right: -50%;
        }

        .side-bar .menu a{
            line-height: 1.8rem;
        }
    }

    /*banner*/
    
    @media (max-width:920px) {
        .banner-content .banner-txt h1{
            font-size: 1.5rem;
        }
        
        .banner-content .banner-txt legend{
            font-size: 17px;
        }
        
        .banner-content .banner-txt p{
            font-size: 12px;
        }

        .banner-content .banner-txt button{
            padding: .5rem 1.8rem;

        }

        .banner-content .redes i{
            padding: .6rem;
        }
    }

    /*sobre mim*/

    @media (max-width: 920px) {
        .section-info-me .infos .info{
            font-size: 12px;
        }
        .section-info-me .infos .info:nth-child(2){
            width: 13rem;
            height: 13rem;
        }
    }

    /*Artes*/
    
    @media (max-width: 920px) {
        .arte{
            height: 25rem;
            width: 18rem;
        }
    }

    /*conhecimentos*/

    @media (max-width: 750px) {
        .conhecimento{
            height: 11rem;
            width: 11rem;
        }

        .conhecimento i{
            font-size: 3.5rem;
        }
    }

    /*Experiencias e certificados*/

    @media (max-width: 920px) {
        .sessao-certificados .historicos .historico img{
            height: 18rem;
            width: 18rem;
        }
        
        .sessao-certificados .historicos .historico p{
            width: 18rem;
            font-size: 12px;
        }
    }

    /*Estudos*/

    @media (max-width: 920px) {
        .sessao-estudos .estudo{
            width: 50rem;
            height: 15rem;
        }

        .sessao-estudos .estudos .estudo img{
            opacity: 0.32;
        }

        .sessao-estudos .estudos .estudo .estudos-txt{
            opacity: 1;
            bottom: 35%;
            font-size: 12px;
        }

    }

}
